style.css

main {
	width: 850px;
	margin: 35px 0 auto;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
	text-transform: uppercase;
}
body {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
h1 {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
h3 {
	font-family: raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;

}
h2 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px;
	border-bottom: 2px solid transparent; 
	text-transform: uppercase;
}
p {
	text-transform: none;
}
a:hover {
border-color: white;
}

a {
	margin: 0px 20px;
	color: #FFFFFF;
	text-decoration: none;
}

img {
	margin: 40px 8px 8px 0px;
}
footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
font-style: "Raleway";
float: left;
}
.message {
font-style: "Raleway";
float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height 0;
	font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}


